<h1>Reset Admin Password</h1>
<p><%= 'Dear ' + @admin.name %></p>
<p>You are receiving this email because we received a request to reset the admin password of `Cleany`. </p>
<p>If you do not do this please disregard this email.</p>
Click 
<%= link_to "reset link", admin_new_password_url(id: @admin.reset_token,
                                                      email: @admin.email) %>
 to reset your account.