.form-control {
  height: calc(2.25rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}


/* .form-control-plaintext {
  color: white !important;
} */

.price-from-filter {
  width: 100%;
  background-color: #fff;
  height: calc(2.25rem + 2px) !important;
  border: 1px solid #ced4da !important;
}

.price-filter-cover {
  padding-right: 0;
}

.price-type-cover {
  padding: 8px 8px;
}

.working-time-filter {
  width: 100%;
  background-color: #fff;
  height: calc(2.25rem + 2px) !important;
  border: 1px solid #ced4da !important;
}

.search-widget {
  position: relative;
  z-index: 1;
  border: 1px solid #393c3d;
  border-radius: 3px;
  padding: 20px 15px;
}

.video-duration {
  color: #fff !important;
}

.vertical-sub {
  vertical-align: sub;
}
